<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.baumann.sieben">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="endless_workout" />
            </intent-filter>

        </activity>

        <activity
            android:name=".pause.Pause"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause4"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause5"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause6"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause7"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause8"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause9"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause10"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause11"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".pause.Pause112"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".workouts.MainActivity1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity4"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity5"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity6"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity7"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity8"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity9"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity10"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity11"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity12"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".workouts.MainActivity122"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".helper.UserSettingsActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".helper.UserSettingsActivity_Exercises"
            android:parentActivityName=".helper.UserSettingsActivity" >
        </activity>
        <activity
            android:name=".helper.UserSettingsActivity_Duration"
            android:parentActivityName=".helper.UserSettingsActivity" >
        </activity>

        <activity
            android:name=".helper.Activity_statistics"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".helper.Activity_intro"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".about.About_activity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
